<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="components.presentation.ComponentsModelWizardID"
            name="%_UI_ComponentsModelWizard_label"
            class="components.presentation.ComponentsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ComponentsModelFile.gif">
         <description>%_UI_ComponentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated model -->
      <editor
            id="components.presentation.ComponentsEditorID"
            name="%_UI_ComponentsEditor_label"
            icon="icons/full/obj16/ComponentsModelFile.gif"
            extensions="components"
            class="components.presentation.ComponentsEditor"
            contributorClass="components.presentation.ComponentsActionBarContributor">
      </editor>
   </extension>

</plugin>
