<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="components_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="components_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="components.diagram.part.ModelDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/ComponentsDiagramFile.gif"
         extensions="components_diagram"
         default="true"
         class="components.diagram.part.ModelDiagramEditor"
         matchingStrategy="components.diagram.part.ModelMatchingStrategy"
         contributorClass="components.diagram.part.ModelDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="components.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/ComponentsDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="components.diagram.part.ModelCreationWizard"
  	     id="components.diagram.part.ModelCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="edu.bme.vik.iit.j2eecm.diagram.model.InitDiagram"
            nameFilter="*.components"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="components.diagram.part.ModelInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="edu.bme.vik.iit.j2eecm.diagram.model.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ModelPresentation">
         <Priority name="Lowest"/>
         <ViewId id="components.diagram.part.ModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ModelPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="components.diagram.part.ModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ModelRender">
         <Priority name="Lowest"/>
         <ViewId id="components.diagram.part.ModelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="components.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="edu.bme.vik.iit.j2eecm.diagram.general"
            name="%prefpage.edu.bme.vik.iit.j2eecm.diagram.general"
            class="components.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="edu.bme.vik.iit.j2eecm.diagram.appearance"
            name="%prefpage.edu.bme.vik.iit.j2eecm.diagram.appearance"
            category="edu.bme.vik.iit.j2eecm.diagram.general"
            class="components.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="edu.bme.vik.iit.j2eecm.diagram.connections"
            name="%prefpage.edu.bme.vik.iit.j2eecm.diagram.connections"
            category="edu.bme.vik.iit.j2eecm.diagram.general"
            class="components.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="edu.bme.vik.iit.j2eecm.diagram.printing"
            name="%prefpage.edu.bme.vik.iit.j2eecm.diagram.printing"
            category="edu.bme.vik.iit.j2eecm.diagram.general"
            class="components.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="edu.bme.vik.iit.j2eecm.diagram.rulersAndGrid"
            name="%prefpage.edu.bme.vik.iit.j2eecm.diagram.rulersAndGrid"
            category="edu.bme.vik.iit.j2eecm.diagram.general"
            class="components.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="edu.bme.vik.iit.j2eecm.diagram.model"
            labelProvider="components.diagram.sheet.ModelSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="edu.bme.vik.iit.j2eecm.diagram.model">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="edu.bme.vik.iit.j2eecm.diagram.model">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="components.diagram.sheet.ModelPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="components.diagram.navigator.ModelAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="components.diagram.providers.ModelViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Model"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,3001,3002,3003,3004"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="components.diagram.providers.ModelEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Model"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,3001,3002,3003,3004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value=""/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002,7003,7004"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="components.diagram.providers.ModelModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="components.diagram.edit.parts.ModelEditPart" id="Model_1000"/>
         <object class="components.diagram.edit.parts.ClientEditPart" id="Client_2001"/>
         <object class="components.diagram.edit.parts.DatabaseEditPart" id="Database_2002"/>
         <object class="components.diagram.edit.parts.J2EEServerEditPart" id="J2EEServer_2003"/>
         <object class="components.diagram.edit.parts.BrowserEditPart" id="Browser_3001"/>
         <object class="components.diagram.edit.parts.ApplicationClientEditPart" id="ApplicationClient_3002"/>
         <object class="components.diagram.edit.parts.WebContainerEditPart" id="WebContainer_3003"/>
         <object class="components.diagram.edit.parts.EJBContainerEditPart" id="EJBContainer_3004"/>
         <context elements="Model_1000,Client_2001,Database_2002,J2EEServer_2003,Browser_3001,ApplicationClient_3002,WebContainer_3003,EJBContainer_3004"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="components.diagram.providers.ModelIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="components">
         <metamodelType
               id="edu.bme.vik.iit.j2eecm.diagram.model.Model_1000"
               name="%metatype.name.Model_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Model"
               edithelper="components.diagram.edit.helpers.ModelEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="components">
         <metamodelType
               id="edu.bme.vik.iit.j2eecm.diagram.model.Client_2001"
               name="%metatype.name.Client_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Client"
               edithelper="components.diagram.edit.helpers.ClientEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="components">
         <metamodelType
               id="edu.bme.vik.iit.j2eecm.diagram.model.Database_2002"
               name="%metatype.name.Database_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Database"
               edithelper="components.diagram.edit.helpers.DatabaseEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="components">
         <metamodelType
               id="edu.bme.vik.iit.j2eecm.diagram.model.J2EEServer_2003"
               name="%metatype.name.J2EEServer_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="J2EEServer"
               edithelper="components.diagram.edit.helpers.J2EEServerEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="components">
         <metamodelType
               id="edu.bme.vik.iit.j2eecm.diagram.model.Browser_3001"
               name="%metatype.name.Browser_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Browser"
               edithelper="components.diagram.edit.helpers.BrowserEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="components">
         <metamodelType
               id="edu.bme.vik.iit.j2eecm.diagram.model.ApplicationClient_3002"
               name="%metatype.name.ApplicationClient_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ApplicationClient"
               edithelper="components.diagram.edit.helpers.ApplicationClientEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="components">
         <metamodelType
               id="edu.bme.vik.iit.j2eecm.diagram.model.WebContainer_3003"
               name="%metatype.name.WebContainer_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="WebContainer"
               edithelper="components.diagram.edit.helpers.WebContainerEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="components">
         <metamodelType
               id="edu.bme.vik.iit.j2eecm.diagram.model.EJBContainer_3004"
               name="%metatype.name.EJBContainer_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EJBContainer"
               edithelper="components.diagram.edit.helpers.EJBContainerEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="components">
         <metamodelType
               id="edu.bme.vik.iit.j2eecm.diagram.model.WebReleationship_4001"
               name="%metatype.name.WebReleationship_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="WebReleationship"
               edithelper="components.diagram.edit.helpers.WebReleationshipEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="components">
         <metamodelType
               id="edu.bme.vik.iit.j2eecm.diagram.model.DataReleationship_4002"
               name="%metatype.name.DataReleationship_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DataReleationship"
               edithelper="components.diagram.edit.helpers.DataReleationshipEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="edu.bme.vik.iit.j2eecm.diagram.model.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="edu.bme.vik.iit.j2eecm.diagram.model.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="edu.bme.vik.iit.j2eecm.diagram.model.TypeContext">
         <elementType ref="edu.bme.vik.iit.j2eecm.diagram.model.Model_1000"/>
         <elementType ref="edu.bme.vik.iit.j2eecm.diagram.model.Client_2001"/>
         <elementType ref="edu.bme.vik.iit.j2eecm.diagram.model.Database_2002"/>
         <elementType ref="edu.bme.vik.iit.j2eecm.diagram.model.J2EEServer_2003"/>
         <elementType ref="edu.bme.vik.iit.j2eecm.diagram.model.Browser_3001"/>
         <elementType ref="edu.bme.vik.iit.j2eecm.diagram.model.ApplicationClient_3002"/>
         <elementType ref="edu.bme.vik.iit.j2eecm.diagram.model.WebContainer_3003"/>
         <elementType ref="edu.bme.vik.iit.j2eecm.diagram.model.EJBContainer_3004"/>
         <elementType ref="edu.bme.vik.iit.j2eecm.diagram.model.WebReleationship_4001"/>
         <elementType ref="edu.bme.vik.iit.j2eecm.diagram.model.DataReleationship_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.bme.vik.iit.j2eecm.diagram.model.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="edu.bme.vik.iit.j2eecm.diagram.model"
           properties="isURIEditorInput"
           class="components.diagram.part.ModelUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="edu.bme.vik.iit.j2eecm.diagram.model.resourceContent"/>
			<contentExtension pattern="edu.bme.vik.iit.j2eecm.diagram.model.domainResourceContent"/>
            <contentExtension pattern="edu.bme.vik.iit.j2eecm.diagram.model.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="edu.bme.vik.iit.j2eecm.diagram.model.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="edu.bme.vik.iit.j2eecm.diagram.model.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="components.diagram.navigator.ModelNavigatorContentProvider" 
            labelProvider="components.diagram.navigator.ModelNavigatorLabelProvider"
            icon="icons/obj16/ComponentsDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="components_diagram"/>
               </and>
               <instanceof value="components.diagram.navigator.ModelAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="components.diagram.navigator.ModelAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="edu.bme.vik.iit.j2eecm.diagram.model.navigatorSorter" 
               class="components.diagram.navigator.ModelNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="components_diagram"/>
                  </and>
                  <instanceof value="components.diagram.navigator.ModelAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="edu.bme.vik.iit.j2eecm.diagram.model.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="components.diagram.navigator.ModelDomainNavigatorContentProvider" 
            labelProvider="components.diagram.navigator.ModelDomainNavigatorLabelProvider"
            icon="icons/obj16/ComponentsDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="components"/>
               </and>
               <instanceof value="components.diagram.navigator.ModelDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="components.diagram.navigator.ModelDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="edu.bme.vik.iit.j2eecm.diagram.model.navigatorActionProvider"
            class="components.diagram.navigator.ModelNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="components.diagram.navigator.ModelAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="edu.bme.vik.iit.j2eecm.diagram.model.navigatorLinkHelper"
            class="components.diagram.navigator.ModelNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="edu.bme.vik.iit.j2eecm.diagram.model.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="components.diagram.navigator.ModelAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="components.diagram.part.ModelDiagramUpdateCommand"
         description="%update.diagram.description"
         id="components.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="components.diagram.updateDiagram"
         contextId="components.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="edu.bme.vik.iit.j2eecm.diagram.model.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="components.diagram.part.ModelDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="components.diagram.edit.parts.ModelEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="components.diagram.part.ModelDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="edu.bme.vik.iit.j2eecm.diagram.model.LoadResourceAction"
         name="Load Resource"
         categoryId="components.diagram.part.ModelDiagramEditorID"
         defaultHandler="components.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
